<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Obras maestras</title>
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/gallery">Gallery</a>
    </nav>

    <h1>El legado de Carmen de Mairena</h1>
    <div id="legado">
    <div id="interes">
      <h4>De interés</h4>
      <ol>
        <li>
          <a
            href="https://www.revistavanityfair.es/cultura/entretenimiento/articulos/carmen-de-mairena-vida-familia-origenes/47558"
            target="_blank"
            >Vanity Fair</a
          >
        </li>
        <li>
          <a
            href="https://blackiebooks.org/catalogo/carmen-de-mairena-una-biografia/"
            target="_blank"
            >Biografia no autorizada</a
          >
        </li>
        <li>
          <a
            href="https://okdiario.com/curiosidades/10-frases-carmen-mairena-que-recordaremos-siempre-5340998"
            target="_blank"
            >Frases célebres</a
          >
        </li>
      </ol>
    </div>

    <section id="peliculas">
      <h4>Filmografía</h4>
      <ol>
        <li>Los Tarantos, 1963</li>
        <li>Barrio chino, 1990</li>
        <li>Semos peligrosos (uséase Makinavaja 2), 1993</li>
        <li>Yo soy así, 1999</li>
        <li>Todo lo sólido, 2001</li>
        <li>Soy puta pero mi coño lo disfruta, 2003</li>
        <li>FBI: Frikis Buscan Incordiar, 2004</li>
        <li>XXV Por detrás me gusta más, 2005</li>
        <li>Diniofollando.com, 2008</li>
        <li>Torrente 4: Lethal Crisis, 2011</li>
      </ol>
    </section>
    </div>
    <img src="./joven.png" alt="joven" />

    <footer>
      <a href="https://www.instagram.com/carmendemairena_oficial/?hl=es"
        >INSTAGRAM</a
      >
      <a href="https://twitter.com/carmendmairena">TWITTER</a>
    </footer>
  </body>
</html>
